.Article {
  width: 100%;
  height: auto;
  padding: 50px 100px;
  border-radius: 10px;
  background-color: white;
  position: relative;
}

.title {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 32px;
  color: #212121;
}

.author {
  margin-top: 5px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 16px;
  color: #767676;
}

.heading {
  margin: 0;
  font-size: 20px;
}

p {
  margin-top: 5px;
  text-indent: 0;
}

.Article img {
  width: 100%;
  height: auto;
}

div#arrows {
  display: flex;
  justify-content: space-between;
  top: 50%;
  border-radius: 50%;
}

.leftArrow {
  left: -25px;
}

div#arrows button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  right: -25px;
  top: -25px;
  background: #f0f0f0;
  border: 1px dotted;
  outline: none;
}

@media only screen and (min-width: 0px) and (max-width: 450px) {
  .Article {
    padding: 5px 25px;
  }
}

@media only screen and (min-width: 451px) and (max-width: 600px) {
  .Article {
    padding: 5px 25px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .Article {
    padding: 15px 50px;
  }
}
