.Article {
  width: 50%;
  height: auto;
  padding: 50px 100px;
  margin: 50px auto;
  border-radius: 10px;
  background-color: white;
  border: 5px solid black;
  position: relative;
}

.title {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 32px;
  color: #212121;
}

.author {
  margin-top: 5px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 16px;
  color: #767676;
}

.heading {
  margin: 0;
  font-size: 20px;
}

p {
  margin-top: 5px;
  text-indent: 0;
}

.Article img {
  width: 100%;
  height: auto;
}

div#arrows {
  display: flex;
  justify-content: space-between;
  top: 50%;
  border-radius: 50%;
}

.leftArrow,
.rightArrow {
  width: 50px !important;
  height: 50px !important;
  top: -25px;
  position: absolute;
  cursor: pointer;
}

.leftArrow {
  left: -25px;
}

.rightArrow {
  right: -25px;
}

.leftArrow:hover,
.rightArrow:hover {
  transform: scale(1.25);
}

.type {
  text-align: center;
  font-size: 32px;
  margin: 0px;
  border: 3px solid #000;
}

.goLeft {
  height: 50px !important;
  width: 50px !important;
  position: absolute;
  top: -25px;
}

div#arrows button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  right: -25px;
  top: -25px;
  background: white;
  border: 2.5px solid black;
  outline: none;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  .Article {
    padding: 5px 25px;
    width: 95%;
  }

  .leftArrow,
  .rightArrow {
    transform: scale(0.75);
  }

  .leftArrow:hover,
  .rightArrow:hover {
    transform: scale(0.9);
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .Article {
    padding: 15px 50px;
    width: 75%;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .Article {
    padding: 15px 50px;
    width: 75%;
  }
}
